In [13]:
# Import pandas
import pandas as pd
# Import datetime
from datetime import datetime

In [14]:
# 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
input_series = pd.Series([1.0, 3.0, 5.0, 8.0, 10.0, 11.0, 15.0])

print(input_series.diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

In [15]:
# 27. Write a Pandas program to convert a series of date strings to a timeseries.

# Assuming dates is your series of date strings
dates = pd.Series(["2022-01-01", "2022-01-02", "2022-01-03", "2022-01-04"])

# Convert the series of date strings to a timeseries
timeseries = pd.to_datetime(dates)

print(timeseries)

0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
dtype: datetime64[ns]

In [16]:
# 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.
import pandas as pd

# Assuming dates is your series of date strings
dates = pd.Series(["2022-01-01", "2022-01-02", "2022-01-03", "2022-01-04"])

# Convert the series of date strings to a timeseries
timeseries = pd.to_datetime(dates)

# Extract the required information
day_of_month = timeseries.dt.day
day_of_year = timeseries.dt.dayofyear
week_number = timeseries.dt.isocalendar().week
day_of_week = timeseries.dt.dayofweek

print("Day of month:", day_of_month)
print("Day of year:", day_of_year)
print("Week number:", week_number)
print("Day of week:", day_of_week)

Day of month: 0    1
1    2
2    3
3    4
dtype: int32
Day of year: 0    1
1    2
2    3
3    4
dtype: int32
Week number: 0    52
1    52
2     1
3     1
Name: week, dtype: UInt32
Day of week: 0    5
1    6
2    0
3    1
dtype: int32

In [17]:
# 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.
input_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019', 'Jun 2020'])

print(pd.to_datetime(input_series.map(lambda x: '11 ' + x)))

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
5   2020-06-11
dtype: datetime64[ns]

In [18]:
# 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.
input_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow','White'])

def hasAtLeastTwoVowels(word):
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for letter in word:
        if letter in vowels:
            count += 1
    return count >= 2

filtered_series = input_series[input_series.apply(hasAtLeastTwoVowels)]

print(filtered_series)

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [19]:
# 31. Write a Pandas program to compute the Euclidean distance between two given series.
# Euclidean distance
# From Wikipedia,
# In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.
import math as m
series_one = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series_two = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

euclidean_distance = m.sqrt(sum((series_one - series_two)**2))

print("Euclidean distance: ", euclidean_distance)

Euclidean distance:  16.492422502470642

## Panda dataframe - Ex 61 to 66

In [20]:
# 61. Write a Pandas program to get topmost
# n records within each group of a DataFrame.

original_df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

n = 3

for i in range(n):
    print(original_df.nlargest(n, f'col{i+1}', keep='all'))

   col1  col2  col3
5    11     0    11
4     7     5     1
3     4     9    12
   col1  col2  col3
3     4     9    12
2     3     6     8
1     2     5     5
4     7     5     1
   col1  col2  col3
3     4     9    12
5    11     0    11
2     3     6     8

In [21]:
# 62. Write a Pandas program to remove first n rows of a given DataFrame.
original_df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

n = 3

print(original_df.iloc[n:])

   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [22]:
# 63. Write a Pandas program to remove last n rows of a given DataFrame.

original_df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

n = 3

print(original_df.iloc[:-n])

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

In [23]:
# 64. Write a Pandas program to add a prefix or suffix to all columns of a given DataFrame.

original_df = pd.DataFrame({
    'W': [68, 75, 86, 80, 66],
    'X': [78, 85, 96, 80, 86],
    'Y': [84, 94, 89, 83, 86],
    'Z': [86, 97, 96, 72, 83],
})

print(original_df.add_prefix('A_'))
print(original_df.add_suffix('_1'))

   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83
   W_1  X_1  Y_1  Z_1
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

In [24]:
# 65. Write a Pandas program to reverse order (rows, columns) of a given DataFrame.

original_df = pd.DataFrame({
    'W': [68, 75, 86, 80, 66],
    'X': [78, 85, 96, 80, 86],
    'Y': [84, 94, 89, 83, 86],
    'Z': [86, 97, 96, 72, 83],
})

print(original_df.iloc[::-1].reset_index(drop=True))

    W   X   Y   Z
0  66  86  86  83
1  80  80  83  72
2  86  96  89  96
3  75  85  94  97
4  68  78  84  86

In [25]:
# 66. Write a Pandas program to select columns by data type of a given DataFrame.

original_df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['2002/05/17', '1999/02/16', '1998/09/25', '2002/05/11', '1997/09/15'],
    'age': [18.5, 21.2, 22.5, 22.0, 23.0]
})

print(original_df.select_dtypes(include='number'))
print(original_df.select_dtypes(include='object'))

    age
0  18.5
1  21.2
2  22.5
3  22.0
4  23.0
             name date_of_birth
0  Alberto Franco    2002/05/17
1    Gino Mcneill    1999/02/16
2     Ryan Parkes    1998/09/25
3    Eesha Hinton    2002/05/11
4    Syed Wharton    1997/09/15

## Pandas indexing - Ex 6 to 11 (Unfinished)

In [26]:
# Sample dataframe
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})

In [27]:
# 6. Write a Pandas program to create a dataframe indexing by date and time.

print(df.set_index('date_Of_Birth'))

              school_code class            name  weight  address t_id
date_Of_Birth
15/05/2002           s001     V  Alberto Franco      35  street1   t1
17/05/2002           s002     V    Gino Mcneill      32  street2   t2
16/02/1999           s003    VI     Ryan Parkes      33  street3   t3
25/09/1998           s001    VI    Eesha Hinton      30  street1   t4
11/05/2002           s002     V    Gino Mcneill      31  street2   t5
15/09/1997           s004    VI    David Parkes      32  street4   t6

In [28]:
# 7. Write a Pandas program to create a dataframe and set a title or name of the index column.
df.index.name = 'index'
print(df)

      school_code class            name date_Of_Birth  weight  address t_id
index
0            s001     V  Alberto Franco    15/05/2002      35  street1   t1
1            s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2            s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3            s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4            s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5            s004    VI    David Parkes    15/09/1997      32  street4   t6

In [29]:
# 8. Write a Pandas program to set value in a specific cell in a given dataframe using index.

index = 2
column = 'name'
newValue = 'John Doe'

df.at[index, column] = newValue

print(df)

      school_code class            name date_Of_Birth  weight  address t_id
index
0            s001     V  Alberto Franco    15/05/2002      35  street1   t1
1            s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2            s003    VI        John Doe    16/02/1999      33  street3   t3
3            s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4            s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5            s004    VI    David Parkes    15/09/1997      32  street4   t6

In [30]:
# 9. Write a Pandas program to convert index of a given dataframe into a column.
df.reset_index(level=0, inplace=True)

print(df)

   index school_code class            name date_Of_Birth  weight  address t_id
0      0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1      1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2      2        s003    VI        John Doe    16/02/1999      33  street3   t3
3      3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4      4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5      5        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [31]:
# 10. Write a Pandas program to convert 1st and 3rd levels in the index
# into columns from a multiple level of index frame of a given dataframe.
# Create a multi-index DataFrame

# Reset df
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})

# Create multi-index DataFrame
df1 = df.set_index(['t_id', 'school_code', 'class'])

# Convert the 1st and 3rd levels in the index into columns
df2 = df1.reset_index(['t_id', 'class'])

print(df2)

            t_id class            name date_Of_Birth  weight  address
school_code
s001          t1     V  Alberto Franco    15/05/2002      35  street1
s002          t2     V    Gino Mcneill    17/05/2002      32  street2
s003          t3    VI     Ryan Parkes    16/02/1999      33  street3
s001          t4    VI    Eesha Hinton    25/09/1998      30  street1
s002          t5     V    Gino Mcneill    11/05/2002      31  street2
s004          t6    VI    David Parkes    15/09/1997      32  street4

In [32]:
# 11. Write a Pandas program to check if a specified value
# exists in single and multiple column index dataframe.

# Reset df
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})

# Create df1 from df, then convert df1 to using 't_id' as index
df = df.set_index('t_id')

# Check a value is exist in single column index dataframe
print('t3 is in single-column index df:', 't1' in df1.index)
print('t7 is in single-column index df:', 't7' in df1.index)

# Reset df
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})

# Create multi-index DataFrame
df2 = df.set_index(['t_id', 'school_code', 'class'])

# Check a value is exist in multi-column index dataframe
print('t2 is in multi-column index df:', 't2' in df2.index.levels[0])
print('t2 is in multi-column index df:', 't2' in df2.index.levels[1])
print('t2 is in multi-column index df:', 't2' in df2.index.levels[2])

t3 is in single-column index df: True
t7 is in single-column index df: False
t2 is in multi-column index df: True
t2 is in multi-column index df: False
t2 is in multi-column index df: False

## Pandas Joining and merging DataFrame - Ex 1 to 6 (Unfinished)

In [33]:
# Import dataframes
student_data1 = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4','S5','S6','S7','S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

In [34]:
# 1. Write a Pandas program to join the two given dataframes along rows and assign all data.
df_result = pd.concat([student_data1, student_data2])
print(df_result)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [35]:
# 2. Write a Pandas program to join the two given dataframes along columns and assign all data.
df_result = pd.concat([student_data1, student_data2], axis=1)

print(df_result)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [36]:
# 3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
new_student = pd.Series(['S6', 'Vu Tran', 202], index=student_data1.columns)

new_student_data = pd.concat([student_data1, new_student.to_frame().T], ignore_index=True)

print(new_student_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6           Vu Tran   202

In [37]:
# 4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
list_new_student = [{'student_id': 'S6', 'name': 'Vu Tran', 'marks': 202},
                    {'student_id': 'S7', 'name': 'Phat Tran', 'marks': 250}]

# Create a new dataframe, convert each dict to a series, then append to the new dataframe
new_student_data = student_data1.copy()

for student in list_new_student:
    new_student_data = pd.concat([new_student_data, pd.Series(student).to_frame().T], ignore_index=True)

print(new_student_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6           Vu Tran   202
6         S7         Phat Tran   250

In [38]:
# 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
student_data3 = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data4 = pd.DataFrame({
    'student_id': ['S4','S5','S6','S7','S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

student_data5 = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5', 'S6', 'S7', 'S8'],
    'exam_id': [23, 45, 12, 67, 21, 45, 56, 89]})

df_result = pd.concat([student_data3, student_data4])
df_result = pd.merge(df_result, student_data5, on='student_id')
print(df_result)

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S5       Kwame Morin    199       21
5         S4  Scarlette Fisher    201       67
6         S5  Carla Williamson    200       21
7         S6       Dante Morse    198       45
8         S7    Kaiser William    219       56
9         S8   Madeeha Preston    201       89

In [39]:
# 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
df_result = pd.merge(student_data3, student_data4, on='student_id')
print(df_result)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200